bin/Debug/netcoreapp2.0/MapTests.deps.json
obj/Debug/netcoreapp2.0/MapTests.pdb
bin/Debug/netcoreapp2.0/MapTests.deps.json
bin/Debug/netcoreapp2.0/MapTests.runtimeconfig.json
bin/Debug/netcoreapp2.0/MapTests.runtimeconfig.dev.json
obj/fsac.cache
obj/MapTests.fsproj.nuget.cache
obj/MapTests.fsproj.nuget.g.props
obj/MapTests.fsproj.nuget.g.targets
obj/project.assets.json
obj/Debug/netcoreapp2.0/MapTests.dll
obj/Debug/netcoreapp2.0/MapTests.pdb
obj/Debug/netcoreapp2.0/MapTests.fsproj.CoreCompileInputs.cache
obj/Debug/netcoreapp2.0/MapTests.fsproj.FileListAbsolute.txt
bin/Debug/netcoreapp2.0/MapTests.dll
bin/Debug/netcoreapp2.0/MapTests.pdb
obj/MapTests.fsproj.nuget.cache
obj/MapTests.fsproj.nuget.g.props
obj/MapTests.fsproj.nuget.g.targets
obj/project.assets.json
obj/fsac.cache
obj/MapTests.fsproj.nuget.cache
obj/project.assets.json
obj/
bin/